<div class="container">
  <div class="form-group search">
    <input type="text" class="form-control" placeholder="Search your friend" [(ngModel)]="data">
  </div>
  
  <table id="customers">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
      </tr>
      <tr *ngFor="let data of usersData | filter:data">
        
        <td><button id="user_name" (click)="chat(data.displayName)">{{data.displayName}} </button> </td>
        <td>{{data.email}}</td>
      </tr>
  </table>
</div>
